@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .section {
    @apply flex max-md:flex-col items-center gap-4 mt-4;
  }
  .card {
    @apply w-full p-4 flex-col gap-2 styledBorder;
  }
  .accent {
    @apply bg-accent/20 hover:bg-accent/30 transition-colors;
  }
  .carouselSlider {
    @apply absolute bottom-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-black opacity-50 transition-opacity hover:text-black hover:no-underline hover:opacity-90 hover:outline-none focus:text-black focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none;
  }
  .carouselButton {
    @apply mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-black bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity motion-reduce:transition-none;
  }
  .carouselElement {
    @apply relative float-left -mr-[100%] w-full transition-transform ease-in-out motion-reduce:transition-none;
  }
  .carouselText {
    @apply absolute inset-x-[15%] top-1 hidden text-center text-black md:block;
  }
  .buttonSmall {
    @apply flex justify-center items-center text-sm p-0 text-background styledBorder hover:accent size-8;
  }
  .buttonLarge {
    @apply flex justify-center items-center text-sm p-0 text-background styledBorder hover:accent h-8 w-28;
  }
  .styledBorder {
    @apply border-background border-2 rounded-lg;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --primary: 141 92% 65%;
  --secondary: 360 20% 57%;
  --tertiary: 192 53% 60%;
  --fourth: 56 78% 68%;
  --dark: 1 00% 00%;
  --light: 216 10% 80%;
  --radius: 0.5rem;
}

.dark {
  --background: var(--dark);
  --foreground: var(--light);
  --card: var(--light);
  --card-foreground: var(--dark);
  --accent: var(--dark);
  --accent-foreground: var(--light);
}

.light {
  --background: var(--light);
  --foreground: var(--dark);
  --card: var(--dark);
  --card-foreground: var(--light);
  --accent: var(--light);
  --accent-foreground: var(--dark);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

/* --------------------Accessibility-------------------- */
/* allows to "hide" the skip navigation link which is still accessible by any screen reader */
#skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* displays the skip navigation link when it is focused */
#skip:focus {
  position: static;
  width: auto;
  height: auto;
}
