@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .section {
    @apply flex max-md:flex-col items-center gap-4 mt-4;
  }
  .card {
    @apply w-full p-4 flex-col gap-2 styledBorder;
  }
  .accent {
    @apply bg-accent/20 hover:bg-accent/30 transition-colors;
  }
  .buttonSmall {
    @apply flex justify-center items-center text-sm p-0 text-background styledBorder hover:accent size-8;
  }
  .buttonLarge {
    @apply flex justify-center items-center text-sm p-0 text-background styledBorder hover:accent h-8 w-28;
  }
  .styledBorder {
    @apply border-background border-2 rounded-lg;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --primary: 141 92% 65%;
  --secondary: 360 20% 57%;
  --tertiary: 192 53% 60%;
  --fourth: 56 78% 68%;
  --dark: 1 00% 00%;
  --light: 216 10% 80%;
  --radius: 0.5rem;
}

.dark {
  --background: var(--dark);
  --foreground: var(--light);
  --card: var(--light);
  --card-foreground: var(--dark);
  --accent: var(--dark);
  --accent-foreground: var(--light);
}

.light {
  --background: var(--light);
  --foreground: var(--dark);
  --card: var(--dark);
  --card-foreground: var(--light);
  --accent: var(--light);
  --accent-foreground: var(--dark);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

/* --------------------Accessibility-------------------- */
/* allows to "hide" the skip navigation link which is still accessible by any screen reader */
#skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* displays the skip navigation link when it is focused */
#skip:focus {
  position: static;
  width: auto;
  height: auto;
}
