@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* ---------------------------------Container--------------------------------- */
  .section {
    @apply flex max-md:flex-col items-center gap-4 mt-4;
  }
  .card {
    @apply w-full p-4 flex-col gap-2 styledBorder;
  }
  .lastArticleGrid {
    @apply grid grid-cols-3 max-lg:grid-cols-2 max-sm:grid-cols-1 gap-12 max-lg:gap-8;
  }
  .articleCard {
    @apply flex flex-col gap-4 shadow-md rounded-lg bg-background text-foreground w-72 h-80 max-sm:w-80;
  }

  /* ---------------------------------Carousel--------------------------------- */
  .carouselSlider {
    @apply absolute bottom-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-red-900 opacity-90 transition-opacity hover:text-black hover:no-underline hover:outline-none focus:text-black focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none;
  }
  .carouselButton {
    @apply mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-red-900 hover:bg-black bg-clip-padding p-0 -indent-[999px] opacity-40 transition-opacity motion-reduce:transition-none;
  }
  .carouselCard {
    @apply relative -mr-[100%] hidden w-full !transform-none opacity-0 transition-opacity transitionDuration ease-in-out motion-reduce:transition-none;
  }
  .carouselText {
    @apply absolute inset-x-[15%] top-1 hidden text-center text-black md:block;
  }
  .transitionDuration {
    @apply duration-500;
  }

  /* ---------------------------------Texts--------------------------------- */
  .paragraph {
    @apply text-base max-md:text-sm;
  }

  /* ---------------------------------CTA--------------------------------- */
  .navLinkSmall {
    @apply flex justify-center items-center text-sm p-0 text-center bg-foreground hover:bg-background/30 text-background styledBorder border-background size-8;
  }
  .navLinkLarge {
    @apply flex justify-center items-center text-xs p-0 text-center bg-foreground hover:bg-background/30 text-background border-background styledBorder h-8 w-24;
  }
  .button {
    @apply flex justify-center items-center text-xs p-0 text-center text-black bg-primary styledBorder hover:bg-primary/30 h-8;
  }
  .mediumButton {
    @apply button w-24 border-foreground;
  }
  .largeButton {
    @apply button w-32;
  }
  /* ---------------------------------Footer--------------------------------- */

  .footer {
    @apply flex flex-col items-center bg-foreground text-background text-center mt-8;
  }

  .footerButton {
    @apply rounded-full bg-background text-foreground p-3 uppercase leading-normal shadow-dark-3 shadow-black/30 transition duration-150 ease-in-out hover:shadow-dark-1 focus:shadow-dark-1 focus:outline-none focus:ring-0 active:shadow-1
  }
  /* ---------------------------------Misc--------------------------------- */

  .header {
    @apply fixed w-full top-0 py-4 h-16 bg-card border-b-[2px] border-background z-50
  }
  .accent {
    @apply bg-accent/20 hover:bg-accent/50 transition-colors;
  }
  .styledBorder {
    @apply border-2 rounded-lg;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --primary: 141 92% 65%;
  --secondary: 360 20% 57%;
  --tertiary: 192 53% 60%;
  --fourth: 56 78% 68%;
  --dark: 1 00% 00%;
  --light: 216 10% 80%;
  --radius: 0.5rem;
}

.dark {
  --background: var(--dark);
  --foreground: var(--light);
  --card: var(--light);
  --card-foreground: var(--dark);
  --accent: var(--dark);
  --accent-foreground: var(--light);
}

.light {
  --background: var(--light);
  --foreground: var(--dark);
  --card: var(--dark);
  --card-foreground: var(--light);
  --accent: var(--light);
  --accent-foreground: var(--dark);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

/* --------------------Accessibility-------------------- */
/* allows to "hide" the skip navigation link which is still accessible by any screen reader */
#skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* displays the skip navigation link when it is focused */
#skip:focus {
  position: static;
  width: auto;
  height: auto;
}
